VITE_SPOTIFY_CLIENT_ID=your_client_id_here

APPLE_TEAM_ID=your_team_id
APPLE_KEY_ID=your_key_id

VITE_YOUTUBE_CLIENT_ID=your-client-id.apps.googleusercontent.com
VITE_YOUTUBE_CLIENT_SECRET=your-client-secret